* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --text-p-font-family: Barlow;
  --text-p-font-weight: 400;
  --text-heady-font-family: Fraunces;
  --text-heady-font-weight: 900;
  --text-color: #FEFCF7;


}